source "C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\"
source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget Microsoft.NET.Test.Sdk 16.0.1
nuget xunit 2.4.0
nuget xunit.runner.visualstudio 2.4.0
nuget unquote
nuget Akkling
nuget FsSql.Core
nuget Oracle.ManagedDataAccess.Core
nuget Akkling.TestKit
nuget Akka.Logger.Serilog
nuget Serilog.Sinks.Trace
nuget Serilog.Extensions.Logging
nuget Chiron prerelease
nuget Serilog.Sinks.Console
nuget Giraffe
nuget Microsoft.AspNetCore.App